.fila{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    

}
h3{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(203, 200, 200);
    
    
    }
    
.item{
    margin: 5px;
}