.gtg {

    color: black;
    font-size: 3em;
    font-style: inherit;
    /* padding: 4em;
    margin: 1em; */
    font: bold;
    text-align: center;
    padding: .5em;
    background-color: lightgray;

}